<div class="card">
  <div class="card-body">
    <%= form_for @article do |form| %>
     <div class="field">
       <%= form.label :title %><br>
       <%= form.text_field :title, id: :article_title %>
     </div><br>
        
     <div class="field">
       <%= form.label :content %><br>
       <%= form.text_area :content, id: :article_content %>
     </div><br>
     
     <div class="field">
        <%= form.label :bird, '사진' %><br>
        <%= form.file_field :bird, class: "img_input", onchange: "loadFile(event)", accept: "image/*" %>
     </div><br>
     
     <%= form.hidden_field :user_id, value: current_user.id %>
     
     <div>
        <img src="#" alt="미리보기" id="preview" style="width: 250px;"/>
     </div><br>
     
     <div class="card-link">
       <%= form.submit "글 쓰기", class: "btn btn-primary" %>
     </div>
    <% end %>
  </div>
</div>

<script>
  var loadFile = function(event) {
    var preview = document.getElementById('preview');
    preview.src = URL.createObjectURL(event.target.files[0]);
  };
</script>